.social {
  @include clear;
  margin-left: 10px;
  list-style: none;
  min-width: 14%;
}

.social__item:not(:last-child) {
  margin-right: 33px;
}

.social__link {

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.5;
  }
}

.social__link-image {
  color: $menu;
}

@media (max-width: $tablet-width) {
  .social__item:not(:last-child) {
    margin-right: 23px;
  }

  .social__link-image {
    &--facebook {
      @include size(9, 16);
    }

    &--instagram {
      @include size(16, 16);
    }

    &--twitter {
      @include size(16, 13);
    }
  }
}

@media (max-width: $mobile-width) {
  .social {
    @include clear;
  }

  .social__link-image {
    &--facebook {
      @include size(9, 16);
    }

    &--instagram {
      @include size(16, 16);
    }

    &--twitter {
      @include size(16, 13);
    }
  }
}
