*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  @include clear;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  background-color: #e5e5e5;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="file"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;
  overflow: hidden;
}
